#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.large{
  width: 400px;
  font-size: 30px;
  box-sizing: content-box;
  overflow: hidden;
  
}
.frame{
  margin-top: 100px;
  border-radius: 30%;
  height: 40vh;
  border: none;
  
}
*{
  background-color: black;

}